.sidebar {
  height: 100vh;
  background-color: #0A89A6;
  color: #FFF;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  width: 60px;
}

.open {
  width: 200px;
}

.closed {
  width: 60px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  background-color: #231D26;
  justify-content: center;
}

.logo {
  cursor: pointer;
  transition: 0.4s;
}

.open .logo {
  width: 80px;
  height: 80px;
}

.closed .logo {
  width: 60px;
  height: 60px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  font-family: 'Rounded Mplus 1c', sans-serif;
  font-size: 1.0em;
  font-weight: bold;
}

.openMenuItem {
  padding: 10px 15px;
}

.closedMenuItem {
  padding: 10px 10px;
}

.menu li.active {
  background-color: #1a1e22d4;
}

.menu li:hover {
  background-color: #1a1e22b3;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
}

.menu a span {
  margin-left: 15px;
  font-size: 1.0em;
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #1F3144;
  margin-top: auto;
}

.profileOpen {
  gap: 15px;
}

.profileClosed {
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 15px;
}

.username {
  font-family: 'Rounded Mplus 1c', sans-serif;
  font-weight: bold;
}

.role {
  font-size: 0.9rem;
}

.pfp {
  margin-top: 10px;
}

.pfp:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.profileInfo {
  margin-top: 10px;
}

.profileInfo p {
  margin: 0;
}

.logout {
  margin-top: 10px;
  cursor: pointer;
  background-color: #1F3144;
  border: none;
}

.logout:hover {
  scale: 1.2;
  transition: 0.4s;
}

.menuItemText {
  color: #FFF;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s;
  font-family: 'Rounded Mplus 1c', sans-serif;
}

.open .menuItemText {
  opacity: 1;
  transform: translateX(0);
}

.menu li.active .menuItemText {
  color: #F28627;
}

.menu li:hover .menuItemText {
  color: #F28627;
}